<div class="card-container" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
    <div class="title" 
    [ngClass]="{'dependency-title': checkIfADependency()}">
        <p>@if (isCompositeId()) {
            <span class="highlighted">{{getIdHighlitedPart()}}/</span>{{getIdNormalPart()}}  
        } @else {
            {{getIdNormalPart()}}
        }
        </p>
    </div>
    <div class="information">
        <p>{{package.weeklyDownloads | loadsCount}}<span><fa-icon [icon]="faDownload" size="xs"></fa-icon></span></p>
        <p class="dependencies">{{package.dependencyCount | dependenciesCount}}</p>
    </div>
</div>