<main>
    <div class="content">
        <app-search
            (refreshEvent)="refreshPackages()"
            (filterPackages)="filterPackages($event)"
        ></app-search>
        <app-card-list>
            @if (packages) {
                @for (package of packages; track package.id) {
                    <app-package-card 
                        (fetchDependencies)="getDependenciesById(package.id)"
                        [package]="package"
                    ></app-package-card>
                }
            } @else {
                <p>Loading packages...</p>
            }
        </app-card-list>
    </div>
</main>