@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto;
    --gray-fonts-color: rgb(135, 134, 134);
    --dark-borders: 2px solid rgb(58, 58, 58);
    --package-title-hover-color: #a6eced;
    --dependency-title-hover-color: #edb2a6;
    --scrollbar-track-color: #d1d1d1;
    --scrollbar-thumb-color: #303030;
}
